.upperMenu-container {
    display: flex;
    justify-content: space-between;
    background-color: gold;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    padding-left: 1.5rem;
}

.icons {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-right: 1rem;
}