* {
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .children-container{
        display: flex;
    }
}

.children-container{
    display: flex;
}

.layout-container{
    width: 100vw;
}

